<div style="background:#c5ccd3;"  class="view mblView"> 
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
	  This is the content of the main scene. Use the buttons in each scene to move between
	  the multiple scenes, or views, contained in the app.
	</div>
	<div dojoType="dojox.mobile.Heading">Main Scene Views</div>
	<ul dojoType="dojox.mobile.RoundRectList" iconBase="../images/i-icon-all.png">
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" clickable="true" href="#main@main">
			Main Scene::Main View	
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29"  clickable="true" href="#second@main">
			Main Scene::Second View
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29"  clickable="true" href="#third@main">
			Main Scene::Third View
		</li>
	</ul>

	<div dojoType="dojox.mobile.Heading">Tab Scene Views</div>
	<ul dojoType="dojox.mobile.RoundRectList" iconBase="../images/i-icon-all.png">
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#@second">
			Second Scene		
		</li>
	</ul>

	<div dojoType="dojox.mobile.Heading">Third Scene Views</div>
	<ul dojoType="dojox.mobile.RoundRectList" iconBase="../images/i-icon-all.png">
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#@third">
			Third Scene		
		</li>
	</ul>

</div>
