<div style="background:#c5ccd3;"  class="view mblView"> 
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
	  This is the content of the main scene. Use the buttons in each scene to move between
	  the multiple scenes, or views, contained in the app.
	</div>
	<ul dojoType="dojox.mobile.RoundRectList" iconBase="../images/i-icon-all.png">
		<h2 dojoType="dojox.mobile.EdgeToEdgeCategory">Main Scene Views</h2>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" clickable="false">
			Main Scene::Main View (Current View)
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29"  clickable="true" href="#second@main">
			Main Scene::Second View
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29"  clickable="true" href="#third@main">
			Main Scene::Third View
		</li>
	</ul>

	<ul dojoType="dojox.mobile.RoundRectList" iconBase="../images/i-icon-all.png">
		<h2 dojoType="dojox.mobile.EdgeToEdgeCategory">Tab Scene Views</h2>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#@second">
			Second Scene		
		</li>
	</ul>

	<ul dojoType="dojox.mobile.RoundRectList" iconBase="../images/i-icon-all.png">
		<h2 dojoType="dojox.mobile.EdgeToEdgeCategory">Gallery Views</h2>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#@gallery">
			Mobile Gallery
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#welcome@gallery">
			Welcome
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#tabBar@gallery">
			Tab Bar
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#map@gallery">
			Map
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#list@gallery">
			List
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#jsonp@gallery">
			Jsonp
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#icons@gallery">
			Icons
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#headings@gallery">
			Headings
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#forms@gallery">
			Forms
		</li>

		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#flippableViews@gallery">
			Flippable Views
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#buttons@gallery">
			Buttons
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#ajax@gallery">
			Ajax
		</li>
		<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
			clickable="true" href="#ajaxLoad@gallery">
			Ajax Load
		</li>
	</ul>

</div>
