<div class="navPane">
	<!-- left -->
	<div data-dojo-type="dojox/app/widgets/Container" id="NavWidId" class="navPane left" data-app-constraint="left">

	<!-- <div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable:true">  -->
		<div>
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Navigation</h2>
			<ul data-dojo-type="dojox/mobile/RoundRectList" data-app-constraint="center">
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true">
					Dummy item 1
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true">
					Dummy item 2
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" data-dojo-props="clickable:true">
					Dummy item 3
				</li>
			</ul>
		</div>
	</div>
</div>
