<div class="view mblView">

	<div data-dojo-type="dojox/mobile/ScrollableView">
		<div id="tst1WrapperB" style="visibility:hidden">
			<div class="field-title">Each test is sharing an observable store and using an EdgeToEdgeStoreList with a LongListMixin.</div>
			<div class="field-title">Use the +5 button to add 5 rows to the lists, it will update all lists.</div>
			<br>
			<div class="field-title">There was a problem with LongListMixin in a scrollable view where it would not get added on the pages which were not visible when the rows were added, but now it is fixed.</div>
			<br><br>
			<br>
		</div>
	</div>
</div>
