<div class="navPane">
	<!-- left -->
	<div data-dojo-type="dojox/app/widgets/Container" id="NavWidId" class="navPane left" data-app-constraint="left">

	<!-- <div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable:true">  -->
		<div>
		<h2 data-dojo-type="dojox/mobile/EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Navigation</h2>
			<ul data-dojo-type="dojox/mobile/RoundRectList" data-app-constraint="center">
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'header+navigation+TestInfo',target:'header+navigation+TestInfo',url:'#header+navigation+TestInfo'}">
					Test Information
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'header+navigation+simple',target:'header+navigation+simple',url:'#header+navigation+simple'}">
					Simple Data Binding
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'header+navigation+repeat',target:'header+navigation+repeatList',url:'#header+navigation+repeatList'}">
					Repeat Data Binding
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'header+navigation+generate',target:'header+navigation+generate',url:'#header+navigation+generate'}">
					Simple Form Generate
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'header+navigation+centerNavigation',target:'header+navigation+centerNavigation',url:'#header+navigation+centerNavigation'}">
					Center Navigation View
				</li>
			</ul>
		</div>
	</div>
</div>
