<div class="view mblView">

	<ul region="top" dojoType="dojox.mobile.TabBar" barType="segmentedControl">
		<li dojoType="dojox.mobile.TabBarButton" href="#colorBtnView" selected="true" transition="slide">Color</li>
		<li dojoType="dojox.mobile.TabBarButton" href="#textureBtnView" transition="slide">Texture</li>
		<li dojoType="dojox.mobile.TabBarButton" href="#shapeBtnView" transition="slide">Shape</li>
	</ul>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<button dojoType="dojox.mobile.Button" class="baseBtn whiteBtn" style="width: 240px;">White</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn navyBtn" style="width: 240px;">Blue</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn orangeBtn" style="width: 240px;">Orange</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn redBtn" style="width: 240px;">Red</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn blackBtn" style="width: 240px;">Black</button>        
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<button dojoType="dojox.mobile.Button" class="baseBtn navyBtn" style="width: 240px;">Matte</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn glossy navyBtn" style="width: 240px;">Glossy</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn candy navyBtn" style="width: 240px;">Candy</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn shadow navyBtn" style="width: 240px;">Shadow</button>			
	</div>
	<div dojoType="dojox.mobile.RoundRect" shadow="true">
		<button dojoType="dojox.mobile.Button" class="baseBtn backBtn greyBtn" style="width: 240px;">Back</button>
		<button dojoType="dojox.mobile.Button" class="baseBtn roundBtn navyBtn" style="width: 240px;">Round</button>
	</div>
</div>
