<div class="view mblView" data-app-region="left" region="left" style="width: 250px;", splitter=true>
<!--<div data-dojo-props='id:"border1-left", region:"left", style:"background-color: #acb386; border: 10px green solid; width: 100px;",
		splitter:true, minSize:150, maxSize:250'> -->
	<!-- left from templates -->
	<div data-dojo-type="dojox.app.widgets.Container" class="navPane" region="leading"  style="width: 250px;", data-app-region="left">
		<!-- <h1 data-dojo-type="dojox.mobile.Heading"  data-app-region="left">Layout App</h1> -->
		<div>
			<!-- <h2 data-dojo-type="dojox.mobile.EdgeToEdgeCategory" style="height: 32px;" data-app-region="top">Navigation</h2> -->
			<ul data-dojo-type="dojox.mobile.RoundRectList" data-app-region="center">
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view1',target:'view1',url:'#view1'}">
					View 1 top
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view2',target:'view2',url:'#view2'}">
					View 2 top
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view3',target:'view3',url:'#view3'}">
					View 3 left
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view4',target:'view4',url:'#view4'}">
					View 4 left
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view5',target:'view5',url:'#view5'}">
					View 5 center
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view6',target:'view6',url:'#view6'}">
					View 6 center
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view7',target:'view7',url:'#view7'}">
					View 7 right
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view8',target:'view8',url:'#view8'}">
					View 8 right
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view9',target:'view9',url:'#view9'}">
					View 9 bottom
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view10',target:'view10',url:'#view10'}">
					View 10 bottom
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'simple',target:'simple',url:'#simple'}">
					Simple Data Binding
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'repeat',target:'repeat',url:'#repeat'}">
					Repeat Data Binding
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'generate',target:'generate',url:'#generate'}">
					Simple Form Generate
				</li>
			</ul>
		</div>
	</div>
</div>
