<div>
    <h3 style='background-color:blue;'>View 5 center.</h3>
    <h3 style='background-color:blue;'>View 5 center.</h3>
    <h3 style='background-color:blue;'>View 5 center.</h3>
    <h3 style='background-color:blue;'>View 5 center.</h3>
    <h3 style='background-color:blue;'>View 5 center.</h3>
			<ul data-dojo-type="dojox.mobile.RoundRectList">
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view1',target:'view1',url:'#view1'}">
					View 1 top
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view2',target:'view2',url:'#view2'}">
					View 2 top
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view3',target:'view3',url:'#view3'}">
					View 3 left
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'view4',target:'view4',url:'#view4'}">
					View 4 left
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'-view7',target:'-view7',url:'#-view7'}">
					Remove view7 right
				</li>
				<li data-dojo-type="dojox/mobile/ListItem" clickable="true" transitionOptions="{title:'-view8',target:'-view8',url:'#-view8'}">
					Remove view8 right
				</li>
					
			</ul>
</div>