<div>
<h1 dojoType="dojox.mobile.Heading"  back="Back">Second Scene</h1>
<div dojoType="dojox.mobile.RoundRect" shadow="true">
  This is the second scene. Tap a button to go back to the first scene
	<a href="#@main">to Main</a>
	<a href="#sub1@main">to Main scene, sub1 view</a>
	<a href="#@second">to Second</a>
	<a href="#@third">to Third</a>
</div>

<button id="btn1" dojoType="dojox.mobile.Button" style="width:120px">To First Scene</button>
<p></p>
<button id="btn2" dojoType="dojox.mobile.Button" 
  btnClass="mblRedButton" style="width:120px">To Third Scene</button>
<div class="inputData">
  
</div>
</div>
