<div>
<h1 dojoType="dojox.mobile.Heading">Main Scene</h1>
<div dojoType="dojox.mobile.RoundRect" shadow="true">
	this is some sub content  
 
	<a href="#@main">to Main</a>
	<a href="#sub1@main">to Main scene, sub1 view</a>
	<a href="#@second">to Second</a>
	<a href="#@third">to Third</a>
  <pre class="appInfoArea"></pre>
</div>
<div class="inputData">
  
</div>
<ul dojoType="dojox.mobile.RoundRectList" iconBase="../images/i-icon-all.png">
	<li dojoType="dojox.mobile.ListItem" iconPos="0,0,29,29" 
        rightText="Go" clickable="true" href="#main@second">
		Next Scene
	</li>
</ul>
</div>
