<div class="navPane">
	<!-- left -->
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Layout App"' data-app-constraint="top"></h1>
	<div data-dojo-type="dojox/app/widgets/Container"  class="navPane" data-app-constraint="left" data-dojo-props="scrollable:true">

<!--	 <div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable:true"> --> 
		<div>
		<h2 data-dojo-type="dojox.mobile.EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Navigation</h2>
			<ul data-dojo-type="dojox.mobile.RoundRectList" data-app-constraint="center">
				<li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="clickable:true,label:'Simple Data Binding',target:'simple',url:'#simple'"></li>
				<li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="clickable:true,label:'Repeat Data Binding',target:'repeat,repeatList',url:'#repeat,repeatList'"></li>
				<li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="clickable:true,label:'Nav + Repeat Data Binding',target:'navigation+repeat,repeatList',url:'#navigation+repeat,repeatList'"></li>
				<li data-dojo-type="dojox.mobile.ListItem" data-dojo-props="clickable:true,label:'Simple Form Generate',target:'generate',url:'#generate'"></li>
			</ul>
		</div>
	</div>
</div>
