<div class="navPane">
	<!-- left -->
	<h1 data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:"Layout App"' data-app-constraint="top"></h1>
	<div data-dojo-type="dojox/app/widgets/Container"  class="navPane" data-app-constraint="left" data-dojo-props="scrollable:true">

<!--	 <div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable:true"> --> 
		<div>
		<h2 data-dojo-type="dojox.mobile.EdgeToEdgeCategory" style="height: 32px;" data-app-constraint="top">Navigation</h2>
			<ul data-dojo-type="dojox.mobile.RoundRectList" data-app-constraint="center">
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'simple',target:'simple',url:'#simple'}">
					Simple Data Binding
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'repeat',target:'repeat,repeatList',url:'#repeat,repeatList'}">
					Repeat Data Binding
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'repeat',target:'navigation+repeat,repeatList',url:'#navigation+repeat,repeatList'}">
					Nav + Repeat Data Binding
				</li>
				<li data-dojo-type="dojox.mobile.ListItem" clickable="true" transitionOptions="{title:'generate',target:'generate',url:'#generate'}">
					Simple Form Generate
				</li>
			</ul>
		</div>
	</div>
</div>
