<div class="view mblView">
    <h1 dojoType="dojox.mobile.Heading">Mobile MVC Demo</h1>
    <h2 dojoType="dojox.mobile.RoundRectCategory">Mobile MVC Views</h2>
    <ul dojoType="dojox.mobile.RoundRectList">
        <li dojoType="dojox.mobile.ListItem" clickable="true" href="#simple">
            Simple Data Binding
        </li>
        <li dojoType="dojox.mobile.ListItem" clickable="true" href="#repeat">
            Repeat Data Binding
        </li>
        <li dojoType="dojox.mobile.ListItem" clickable="true" href="#generate">
            Simple Form Generate
        </li>
    </ul>
</div>
